*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'poppins';
}
body{
    background-color: #4D6643;
}

.wrapper{
    position: relative;
    /* border: 4px solid black; */
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    height: 100%;
    /* border: 1px solid red; */
}
/* Home page */
.navbar, .intro{
    width: 1500px;
}
/* navbar */
.navbar{
    height: 100px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}
.img{
    /* border: 1px solid blue; */
    max-width: 150%;
    position: relative;
    top: -70px;
    left: -30%;
}
.menu{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
}

a{
    margin-left: 25px;
    text-decoration: none;
    color: white;
    transition: font-size 1s;
}
a:hover{
    font-size: 2rem;
}

/* Intro */
.intro{
    /* position: absolute; */
    /* background-color: #C4E3B8; */
    border-radius: 20px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height:80%;
    
}

span, .desc{
    color: white;
    text-shadow: -3px 10px 10px rgba(0,0,0,0.2);
}
span{
  font-size: 8rem;
  
}
.desc{
    /* border: 1px solid red; */
    font-size: 2rem;
    text-align: right;
   

}

/* Socials */




/* Experiences */
.experience{
    background-color: #C4E3B8;
    border: 1px solid blue;
}
