/* Global Style */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

a{
    text-decoration: none;
}

body{
    background: #3a2d44;
    color: white;
}

/* Wrapper for Parallax effect */
.wrapper{
    border: 4px solid white;
    background: transparent;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 50px;
}

/* Styling for every page */
.page{
    border: 1px solid yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
}

/* Home page */
.navbar, .intro{
    width: 1500px;
}

/* navbar */
.navbar{
    border: 5px solid blue;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    top: 0;
    position: sticky;
    z-index: 1;
    height: 7.5rem;
    width: 100%;
}

/* Menu */
.menu{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu > a{
    letter-spacing: 1px;
    text-shadow: -3px 10px 10px rgba(0,0,0,0.2);
    margin-left: 25px;
    text-decoration: none;
    color:white;
    transition: font-size 1s ;
}

.menu > a:hover{
    font-size: 2rem;
}

/* home page */

/* Intro */
.intro{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:80%;
    transform: translatez(-50px) scale(2);
}

/* Hi there */
.hello > span, .desc{
    color: #C8C7D6;
    text-shadow: -3px 10px 10px rgba(0,0,0,0.2);
}

/* Name Span */
.desc > span{
    font-style: italic;
    color: #eb8015;
}

.hello > span, .desc,.navbar{
  opacity: 1;
  animation-name: appears; 
  animation-duration: 2.5s;
  animation-fill-mode:forwards;
}

.hello > span{
    font-size: 8rem;
}

#h{
    animation-delay: 1s;
}

#i{
    animation-delay: 1.2s;
}

#comma{
    animation-delay: 1.3s;
}

#t{
    animation-delay: 1.5s;
}

#h2{
    animation-delay: 1.6s;
}

#e{
    animation-delay: 1.7s;
}

#r{
    animation-delay: 1.8s;
}

#e2{
    animation-delay: 1.9s;
}

#exclamation{
    animation-delay: 2.2s;
}

.navbar{
    animation-delay: 5s;
}

/* Description */
.desc{
    /* border: 1px solid red; */
    font-size: 2rem;
    animation-delay: 3.5s;
    color: white;
    font-weight: 200;
    letter-spacing: .3rem;
}

/* Animation to make the social medias move to the left */
.socials > a{
    display: flex;
    border-radius: 100%;
    margin: 1rem;
    position: absolute;
    right: 0;
}

/* Resume */
.res{
    animation: moveEnd 2.5s 4s forwards;
}

/* LinkedIn */
.li{
    animation: moveMiddle 2.5s 4s forwards;
}

/* Socials Container */
.socials{
    /* border: 1px solid blue; */
    align-self: flex-end;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    animation: wexpand 2.5s 4s forwards, appears 3s 4s forwards;
    width: 7rem;
    height: 7rem;
    opacity: 0;
}

/* Customizing the svg, replaced fill in the html svg tag with currentcolor */
.socials svg{
    color: #ACA7C2;
}

.socials svg, .resume{
    /* border: 1px solid black; */
    transition: color .5s;
    height: 5rem;
    width: 5rem;
    border-radius:80%;
}

.socials svg:hover{
    color: black;
}

/* Resume */
.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #473757 ;
    background-color: #ACA7C2;
    transition: background-color .5s, color .5s;
}

.resume:hover{
    background-color: black;
    color: #ACA7C2;
}

/* Bottom Curve Divider */
.divider-one {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.cdivider-one svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 121px;
}

.divider-one .shape-fill {
    fill: rgb(116, 92, 133);
}

/* Project Page*/
/* Content */
.projects{
     /* border: 2px solid white; */
     background-color: rgb(116, 92, 133);
     text-shadow: -3px 10px 10px rgba(0,0,0,0.2);
     display: flex;
     flex-direction: row;
     justify-content: center;
}

/* Blob design behind slides */
.blob{
    position: absolute;
    z-index: -2;
    opacity: .2;
}

/* Slides */
.slide{
    border: 2px solid red;
    border-radius: 50px;
    margin:2rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Projects heading behind slides */
.img-container::after{
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    background-color: rgb(129, 118, 141);
    font-size: 3rem;
    width: 30%;
    border: 5px solid #eb8015;
    border-radius: 20px;
    content: 'Projects';
    position: absolute;
    right: -16rem;
    top: 3rem;
    z-index: -1;
}

/* Project image container */
.img-container{
    position: relative;
    margin-bottom: 1rem;
    border: 5px solid #eb8015;
    border-radius: 20px;
    width:1000px;
    height: 80%;
    background-size: cover;
    background-position:top;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

.img-container.one{
   background-image: url(../resources/images/projects/latte-again.png);
   
}

.img-container.two{
    background-image: url(../resources/images/projects/portfolio.png);
}

/* Project Name */
.text-box{
    border: 3px solid #eb8015;
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    text-align: center;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f3019;
}
/* Arrows to switch slides */
.prev,.next{
    font-size: 6rem;
    cursor: pointer;
    transition: opacity .5s;
}

.prev:hover,.next:hover{
    opacity: .5;
}


/* About Page */

/* Page divider 2 */
.divider-two {
    position: absolute;
    z-index: -1;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-two svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.divider-two .shape-fill {
    fill: rgb(116, 92, 133);
}

/* About content */
.about{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    font-weight: 200;
}

/* Content Container */
.container{
    /* border: 1px solid blue; */
    display:flex;
    align-items:center;
    justify-content: flex-end;
    width: 90%;
    height:80%;
  }
  
/* About h1 */
  .abouth1{
    /* border: 1px solid black; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bio and miscellaneous */
.bio, .misc > *{
    border-radius:10px;
    height: 50%;
    background-color: rgb(129, 118, 141);
    border-left: 5px solid #eb8015;
}
  
.bio{
    border-radius:10px;
    margin-right: 1rem;
    width: 20%;
    height: 90%;
  }
  
.bio > *{
    /* border: 1px solid green; */
    height: 50%; 
    display: flex;
    justify-content:center;
    align-items:center;
  }

/* Picture */
.picture{
    /* border: 1px solid black; */
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    background-size: cover;
    background-position:center;
    background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQEGhZW3N92fWA/profile-displayphoto-shrink_800_800/0/1572886160038?e=2147483647&v=beta&t=hKWeq0Urjn1A7Tnz44uDimXzhWl3-bEM_tfqtEsQR0o');
}
  
/* Container for music and skills */
.misc{
    /* border: 1px solid blue; */
    width:60%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
  
.misc > *{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    width:100%;
}

/* Facts about me */
.about-me{
    /* border: 1px solid red; */
    padding: 0 1rem 1rem 1rem ;
    align-items: flex-start;
    font-size: .9rem;
}

.about-me > *{
    margin:.5rem;
}

/* Skills/languages */
.skills{
height: 47%;
width: 100%;
flex-direction: column;
}

.languages{
border: 1px solid yellow;
display: flex;
flex-wrap: wrap;
height: 75%;
width: 85%;
}
.languages > img{
    -webkit-transition: all .5s linear;
    transition: all 1s  ;
    /* border: 1px solid black; */
    height: 30%;
    margin: .3rem .5rem;
}
.img-ex{
    border: 1px solid green;
    width: 5rem;
    height: 5rem;
    background-image: url(/resources/images/skills/figma.png);
    background-position: center;
    background-size: cover;
    transition: all 1s  ;
}

.img-ex:hover{
    transform: rotateY(180deg);
}

.languages > img:hover{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
     transition: all 1s  ;
}

/* Spotify Playlist */
iframe{
margin-top: .4rem;
}

/* Contact Page */
.contact{
    background-color: rgb(116, 92, 133);;
    /* border: 1px solid yellow; */
    flex-direction: row;
}
.contact >h2{
    position: absolute;
    bottom: 3rem;
    left: 4rem;
}
.letsConnect,.contactFields{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    height: 80%;
}
.contactFields{
    font-size: 1.5rem;
}
form{
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
    border: 2px solid #eb8015;
    height: 10%;
    border-radius: 10px;
    background-color: rgb(129, 118, 141);
}
input:focus{
    outline: none;
}
label{
    margin-bottom: .5rem;
}
textarea{
    border: 2px solid #eb8015;
    background-color: rgb(129, 118, 141);
    border-radius: 10px;
    height: 30%;
    margin-bottom: 3rem;
}

/* Submit Button */
button::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height:101%;
    width: 0%;
    /* border: 1px solid black; */
    background:#eb8015;
    opacity: .2;
    z-index: -1;
    box-shadow: 0;
    transition: width 1s;
}

button:hover::before{
    width: 105%;
  
}


button{
    color: rgb(66, 21, 66);
    
    z-index: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0;
    border-radius: 40px;
    height: 10%;
    width: 40%;
    align-self: center;
    box-shadow: 6px 6px 0px 1px #eb8015;
}
button > p {
    z-index: 1;
}

button:active{
    transform: translate(6px, 6px);
    box-shadow: none;
}

/* 'Let's Connect */
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    height: 20%;
    width: 80%;
}
.contact-content > h1{
    align-self: center;
}
.line-deco-one, .line-deco-two{
    /* border: 1px solid red; */
    background-color: #eb8015;
    width: 30%;
    height: 3%;
}

.line-deco-two{
    align-self: flex-end;
}

/* Animations */
/* Expands the container */
@keyframes wexpand{
    100%{
        width:21rem;
    }
}

@keyframes moveMiddle{
    100%{
        transform: translateX(-7rem);
    }
}

@keyframes moveEnd{
    100%{
        transform: translateX(-14rem);
    }
}

@keyframes appears{
    100%{
      opacity:1;
    }
}

@keyframes stretchUp{
    to{
        height: 150%;
    }
}

@keyframes stretch{
    to{
        width: 100%;
    }
}

@keyframes fade{
    from {opacity: .5} 
    to {opacity: 1}
}

.divider {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 223px;
}

.divider .shape-fill {
    fill: #5F0A87;
}

.custom-shape-divider-bottom-1673201267 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673201267 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 143px;
}

.custom-shape-divider-bottom-1673201267 .shape-fill {
    fill:#806681 ;
}



.footer{
    width: 100vw;
    height: 8vh;
    background-color: rgb(57, 38, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-contact {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-contact svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 500px;
}

.divider-contact .shape-fill {
    fill:#3a2d44;;
}